html, body {
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: Georgia;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: #404040;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  text-align: justify;
}

h1 {
  font-weight: 100;
}

h3 {
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: underline;
}
